@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    background-color: #003ece;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.material-symbols-outlined{
    
           cursor: pointer;
           position: relative;
           z-index: 2000;
}

#botao-menu{
       font-size: 35px;

}

#menu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: #000e53;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

#menu ul{
    list-style: none;
    padding: 80px 20px 20px;
}

#menu li{
    margin-bottom: 20px;
}

#menu a{
    text-decoration: none;
    color: white;
    font-size: bold;
}

#menu a:hover{
    background-color: gray;
    padding: 8px;
    border-radius: 10px;
}

#menu.aberto{
    transform: translate(0);
}
main{
    padding: 20px;
    flex: 1;
    margin: auto;
}

footer{
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
}