@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
}

header{
    background-image: linear-gradient(to right,red,black,white);
    text-align: center;
    color: white;
    padding: 10px;
    font-weight: bold;
}

header h1{
    margin-bottom: 5px;
}

main{
    width: 100%;
    max-width: 600px;
    background-color: white;
    margin: auto;
    flex: 1;
}

main h1{
    text-align: center;
    font-size: 25px;
    padding: 8px;
    color: red;
}

.formulario{
    font-weight: bold;
    margin: auto;
    width: 100%;
    max-width: 450px;
    
    
}

fieldset{
    width: 100%;
    max-width: 350px;
    padding: 8px;
    margin: auto; 
   
}

legend{
    padding: 5px;
}
.linha{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.campo{
    display: flex;
    flex-direction: column;
    flex: 1;
}

input,select{
    width: 100%;
    max-width: 450px;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

input:valid,select:valid{
  outline: none;
  border-color: blue;
}

input:invalid,select:invalid{
    outline: none;
    border-color: red;
}

button{
    margin: auto;
    width: 100%;
    max-width: 100px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: blue;
    color: white;
}

button:hover{
 background-color: #01016c;
}

footer{
    text-align: center;
    padding: 8px;
    
}

a{
    text-decoration: none;
    color: black;
}