@charset "UTF-8";

@media(min-width:601px) and (max-width:1024px){
    main{
        width: 100%;
        max-width: 750px;
    }
    
    main h1{
        font-size: 30px;
    }
    .formulario{
        width: 100%;
        max-width: 700px;
    }

    fieldset{
        width: 100%;
        max-width: 700px;
    }

    .linha{
        display: flex;
        flex-direction: row;
        gap: 55px;
    }

    input,select{
        width: 90%;
        max-width: 550px;
    }

    button{
        width: 100%;
        max-width: 150px;
        padding: 9px;
    }
}