@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;/*faz o body ocupar pelomenos a altura da tela*/
    /*organiza os elemeentos verticalmente*/
    display: flex;
    flex-direction: column;
/*impede rolagem horizontal*/
    overflow-x: hidden;
}

header{
    position: relative;
    display: flex;/*coloca os elementos lado a lado*/
    justify-content: center;/*centraliza os elementos*/
    align-items: center;/*centraliza os elementos*/
    padding: 20px;
    background: #111;
    color: white;
}
#btn-abrir{
    position: absolute;/*permite mover o menu*/
    left: 20px;/*coloca o menu a esquerda*/
}
#btn-abrir,#btn-fechar{
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}

.material-symbols-outlined{
    font-size: 32px;/*tamanho dos icones*/
}

#menu{
    position: fixed;/*fixa o menu na tela*/
    top: 0;/*começa no topo*/
    left: 0;/*fica encostado a esquerda*/
    width: 280px;/*define a largura*/
    height: 100vh;/*ocupa toda altura*/
    background-color: #222;
    transform: translateX(-100%);/*esconde o menu para fora da tela*/
    transition: transform 0.4s ease;/*cria o efeito do slide*/
    z-index: 1000;/*fica acima do overlay*/
    padding: 20px;/*espaçamento interno*/
}

#btn-fechar{
    /*coloca o botão X no lado direito*/
    display: block;
    margin-left: auto;
}

#menu ul{
    list-style: none;
    margin-top: 20px;
}

#menu li{
    margin-bottom: 15px;
}

#menu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    display: block;/*permite usar melhor o hover*/
    transition: 0.2s;/*anima o hover*/
}

#menu a:hover{
    color: #e63946;
    transform: translateX(5px);/*move ligeramente o link*/
}

#menu.aberto{
    transform: translateX(0);/*mostra o menu*/
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0,0,0.5);/*cor preta transparente*/
    opacity: 0;/*começa invisivel*/
    visibility: hidden;/*não permite clique enquanto invisivel*/
    transition: opcity 0.4s ease;/*animação*/

    z-index: 900;/*fica atrás do menu*/
}

#overlay.aberto{
    /*mostra o overlay*/
    opacity: 1;
    visibility: visible;
}

main{
    flex:1;
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 40px 20px;
}

main h1{
    margin-bottom: 15px;
}

main p{
    line-height: 1.6;
    font-size: 18px;
}

footer{
    padding: 20px;
    background-color: #111;
    color: white;
    text-align: center;
}
@media(orientation: landscape) and (max-width:767px){
     #btn-abrir{
        display: block;
    }

    #btn-fechar{
        display: block;
    }

    #menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 280px;
        height: 100vh;
        transform: translateX(-100%);
        transition: transform 0.4s ease;
        z-index: 1000;
    }

}
@media(min-width:768px){
   
    #btn-abrir{
        /*esconde o botão humbúrger*/
        display: none;
    }

    #btn-fechar{
        /*esconde o botao X*/
        display: none;
    }

    #menu{
        /*remove a posição fixa*/
        position: static;
        /*ocupa apenas o espaço necessário*/
        width: 100%;
        /*altura automática*/
        height: auto;
        /*remove o deslocamento*/
        transform: none;
        /*remove a animação*/
        transition: none;
        /*organiza os elementos*/
        padding: 15px 30px;
        /*cor*/
        background-color: #222;
    }

    #menu ul{
        /*organiza os links horizontalmente*/
        display: flex;
        justify-content: center;
        gap: 30px;
        margin: 0;
    }

    #menu li{
        margin: 0;/*remove a maregm vertical*/
    }

    #menu a{
        font-size: 18px;/*mantem o tamanho dos links*/
    }
    #overlay{
        display: none;/*dispensa o overlay*/
    }
}

